.auth-form{
    padding-top: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 70%;
}
.auth-form div{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.auth-form label{
    color:orchid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: bold;
}
.auth-form input{
    background-color: inherit;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: solid orchid 2px;
}

